@import "variables";
@import "globals";

// file index
.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: $color-secondary;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 9%;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;

  .logo {
    font-size: 2rem;
    font-weight: bolder;
    color: #666;
    align-items: center;
  }
  .navbar a {
    font-size: 2rem;
    color: #666;
    margin-left: 2rem;

    &:hover {
      color: $color-primary;
    }
  }
  #menu-bar {
    font-size: 3rem;
    color: #666;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: none;
  }
}

// home content
.home {
  margin-top: 12rem;
  min-height: calc(90vh - 12.3rem);

  .content {
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.1);
    width: 30rem;
    text-align: center;
    margin: 0 auto;

    .profile {
      border-radius: 50%;
      border: 1rem solid #fff;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
      width: 200px;
      height: 200px;
    }

    .name {
      font-size: 3rem;
      color: #666;
      font-weight: bold;
    }

    .description {
      font-size: 1.7rem;
      color: #666;
      padding: 1rem 0;
    }
  }
}

// footer
.footer {
  background: #000;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 0 9%;
  align-items: center;

  .share {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;

    a {
      font-size: 3rem;

      i {
        color: $color-secondary;
      }

      &:hover {
        animation: item 0.25s ease-in-out 1;
      }

      @keyframes item {
        0%,
        100% {
          transform: translateY(-4px);
        }

        50% {
          transform: translateY(-3.6px);
        }
      }
    }
  }

  .credit {
    font-size: 1.7rem;
    color: $color-secondary;
    padding: 2.5rem 0;

    span {
      color: $color-primary;
    }
  }
}

.about {
  margin-top: 6rem;
  display: flex;
  flex: 1 2 30%;

  .row {
    // width: 70%;

    h1 {
      font-size: 3rem;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.7rem;
      color: #333;
    }
  }

  img {
    margin: 5rem 0 0 2rem;
    // width: 30%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 1rem solid $color-secondary;
    box-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.1);
    border-radius: 50%;
  }
}

//  portfolio
.portfolio {
  // margin: 2rem 0 3rem;

  span {
    color: $color-primary;
  }

  .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    .box {
      flex: 1 1 29rem;
      position: relative;
      overflow: hidden;
      box-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.1);
      border-radius: 0.5rem;
      cursor: pointer;
      border: 0.1rem solid rgba($color: #000000, $alpha: 0.3);
      min-height: 25rem;

      .image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: -200%;
      }

      .content {
        background: rgba($color: $color-secondary, $alpha: 0.9);
        padding: 2rem;
        text-align: center;
        transition: all 0.5s ease;
        min-height: 25rem;

        h3 {
          font-size: 2.5rem;
          color: #333;
        }

        p {
          font-size: 1.5rem;
          color: #666;
          padding: 1rem 0;
        }
      }

      &:hover {
        .image {
          top: 0;
        }

        .content {
          transform: translateY(100%);
        }
      }
    }
  }
}

//  cetificate
.cetificate {
  span {
    color: $color-primary;
  }

  .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    .box {
      height: 25rem;
      flex: 1 1 30rem;
      border: 1rem solid $color-secondary;
      box-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.1);
      border-radius: 0.5rem;
      position: relative;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .content {
        position: absolute;
        top: -100%;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba($color: $color-secondary, $alpha: 0.9);
        padding: 2rem;
        padding-top: 5rem;
        text-align: center;
        transition: all 0.5s ease;

        h3 {
          font-size: 2.5rem;
          color: #333;
        }

        p {
          font-size: 1.5rem;
          color: #666;
          padding: 1rem 0;
        }
      }

      &:hover {
        .content {
          top: 0;
        }
      }
    }
  }
}

// contect
.contact {
  margin: 8rem 0 2rem;

  .row {
    padding: 2rem;
    margin: 0 10%;
    box-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.1);
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border-radius: 0.5rem;
  }

  form {
    flex: 1 1 50rem;
    padding: 1rem;
  }

  .inputBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    input {
      padding: 1rem;
      margin: 1rem 0;
      font-size: 1.7rem;
      color: #333;
      text-transform: none;
      border: 0.1rem solid rgba($color: #000000, $alpha: 0.3);
      border-radius: 0.5rem;
      width: 49%;
    }
  }

  textarea {
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
    border: 0.1rem solid rgba($color: #000000, $alpha: 0.3);
    border-radius: 0.5rem;
    width: 100%;
    resize: none;
    height: 15rem;
  }
}
