.jumbotron{
	min-height: 540px;
}

.footer{
	background-color: black;
	color: #FFFFFF ;
	margin-top: 20px;
}

.card{
	width: 300px;
	margin-top: -30px;
}

.card-body{
	border-radius: 20px;
}


/*About*/
.card-about{
	border: 1px #eaeaea solid;
	margin: 15px;
	border-radius: 10px;
	min-height: 370px;
}

.button-cv{
	border-radius: -15px;
}

.instagram{
	
}